.circle {
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
}

.minutes-circle {
    border-color: blue;
    height: 300px;
    width: 300px;
}

.seconds-circle {
    border-color: #82E0AA;
    height: 280px;
    width: 280px;
}

.timer {
    margin: 50px 10px 45px 15px;
}


.countdown {
    font-family: 'Orbitron', sans-serif;
    padding: 20px;
    margin-left: 10%;
    font-size: 35px;
}

.trigger, .minus, .add, .reset {
    color: #34495E;
    background-color: #ECF0F1;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    font-size: 13px;
}

.trigger:hover, .minus:hover, .add:hover, .reset:hover {
    background-color: #82E0AA;
}

/* removes outline when clicking a button */
*:focus {
    outline: 0 !important;
}